/*********** Sección Menu **********/

.menu /*Parte de la cabezera*/
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end;
    height: 10vh;
}

.menu__header /*Parte de la imagen y el texto*/
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    color: var(--cor-de-texto);
}

.menu__title
{
    margin-left: 8px;
}

/*Parte que contiene todo el menu*/
.menu__list
{
   display: none;
}

.menu nav li 
{
    font-size: 14px;
    font-weight: 400;
}

/*Estilos adicionales*/
.menu__list__item:hover
{
    text-decoration: underline;
    font-weight: bold;
}

.menu__list__item:last-child
{
    font-weight: bold;
}

/********** Diseño responsivo **********/

@media (min-width: 1000px) 
{
    .menu__list
    {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        width: 600px;
    }

    .menu__list__item__c 
    {
        display: none;
    }
}