/*********** Sección Menu **********/

.menu /*Parte de la cabezera*/
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 152px;
    width: 1136px;
    height: 88px;
}

.menu__header /*Parte de la imagen y el texto*/
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
}

.menu__title /*Titulo que aparece al lado del logo*/
{
    font-size: 1rem;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 15px;
    color: var(--cor-de-texto);
}

/*Parte que contiene todo el menu*/
.menu__list
{
    display: flex;
    margin-right: 1.25rem;
    justify-content: center;
    align-items: center;
    padding-top: 2.156rem;
}

.menu__list__item
{
    width: 67px;
    height: 19px;
    padding-right: 1.25rem;
    color: var(--cor-de-texto);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    transition: 0.2s;
}

.menu__list__item:hover
{
    text-decoration: underline;
    font-weight: bold;
}

.menu__list__item__contato
{
    font-weight: 700;
}