/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root
{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-texto: #464646;
   --cor-de-secciones:#EAF2FD;
   --cor-blanco: #ffffff;
   --cor-de-botones: #2A7AE4;
   --cor-de-transicion-demo: #03A9F4;
   --cor-de-transicion-repo: #BDBDBD;
}

body 
{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul,li 
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: var(--cor-de-texto);
}

/*********** Sección Menu **********/

.menu /*Parte de la cabezera*/
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 9.5rem;
}

.menu__header /*Parte de la imagen y el texto*/
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
}

.menu__title /*Titulo que aparece al lado del logo*/
{
    font-size: 1rem;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 15px;
    color: var(--cor-de-texto);
}

/*Parte que contiene todo el menu*/
.menu__list
{
    display: flex;
    margin-right: 1.25rem;
    justify-content: center;
    align-items: center;
    padding-top: 2.156rem;
}

.menu__list__item
{
    width: 67px;
    height: 19px;
    padding-right: 1.25rem;
    color: var(--cor-de-texto);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    transition: 0.2s;
}

.menu__list__item:hover
{
    text-decoration: underline;
    font-weight: bold;
}

.menu__list__item__contato
{
    font-weight: 700;
}

/********** Sección Title **********/

.title__div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7.5rem 9.5rem;
}

.title__container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 46.938rem;
    height: 15.375rem;
}

.title__bio
{
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: var(--cor-de-texto);
    width: 751px;
    height: 122px;
}

.title__subsection
{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 1.25rem 0 0;
    padding-top: 1.5rem;
    color: var(--cor-de-texto);
    width: 751px;
    height: 52px;
}

.title__network
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 4rem;
    padding-left: 0;
    margin: 0;
    width: 467px;
    height: 24px;
}

.title__network__item
{
    align-items: center;
    margin-right: 1.25rem;

    font-style: normal;
    
    font-size: 16px;
    line-height: 19px;

    transition: 0.5s;
}

.title__network__item:hover
{
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}

.title__profile
{
    width: 23rem;
    height: 23rem;
    order: 1;
}

/********** Sección About **********/

.about
{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: var(--cor-de-secciones);
}

.about__title
{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--cor-de-texto);
}

.about__paragraph
{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

/********** Sección skills **********/
.skills
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__title
{
    width: 5.125rem;
    height: 2.375rem;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-top: 2rem;
}

.skills__line
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
}

.skills__box
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 1rem;
    margin: 0 1rem;
    width: 11rem;
    height: 10.875rem;
    background-color: var(--cor-blanco);
}

.skills__box ul
{
    padding-left: 1rem;
}

.skills__name
{
    width: 144px;
    height: 1.188rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.188rem;
    padding-top: 0.5rem;
}

/********** Sección Hobbies **********/

.hobbies
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies__title
{
    width: 5.125rem;
    height: 2.375rem;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-top: 5.5rem;
}

.hobbies__line
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
}

.hobbies__box
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 1rem;
    margin: 0 1rem;
    width: 11rem;
    height: 10.875rem;
    background-color: var(--cor-blanco);
}

.hobbies__box ul
{
    padding-left: 1rem;
}

.hobbies__name
{
    width: 9rem;
    height: 1.188rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.188rem;
    padding-top: 0.5rem;
}

/********** Experiencia Académica **********/

.academic
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.125rem;
    background-color: var(--cor-de-secciones);
    margin-top: 5.5rem;
}

.academic__title
{
    width: 339px;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--cor-de-texto);
    text-align: center;
}

.academic__courses
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
}

.academic__courses__box
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 23rem;
    height: 21.688rem;
    margin-right: 1rem;
}

.academic__courses__item__img
{
    background-color: var(--cor-blanco);
    width: 23rem;
    height: 17.875rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.academic__courses__item__title
{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--cor-de-texto);
}

.academic__courses__item__title h4
{
    margin: 0.5rem 0;
}

.academic__courses__item__subtitle
{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.academic__courses__item__subtitle p
{
    margin: 0;
}

/********** experiencia **********/

.experience
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 9.5rem 0;
    width: 71rem;
    height: 117.875rem;
}

.experience__section__title
{
    width: 361px;
    height: 38px;
    margin: 0 0 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.experiencie__box
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-bottom: 4rem;
    width: 71rem;
    height: 113.5rem;
}

.experience__img
{
    width: 47rem;
    height: 25.375rem;
    border-radius: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
}

.experience__img-juegoAhorcado
{
    order: 1;
}

.experience__info
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 23rem;
    height: 7rem;
    
    margin-left: 16px;
}

.experience__info-ahorcado
{
    margin: 0 16px 0 0;
}

.experience__title
{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--cor-de-texto);
}

.experience__text
{
    width: 23rem;
    height: 1.188rem;
    margin: 0.5rem 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--cor-de-texto);
}

.experience__description
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 35rem;
    height: 3.188rem; 
    margin-top: 0.5rem; 
}

.experiencia__botao--repo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    width: 7.25rem;
    height: 3.188rem;
    margin-right: 1rem;

    background-color: transparent;
    color: var(--cor-de-botones);
    border: 1px solid var(--cor-de-botones);

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.188rem;

    transition: 0.5s;
}

.experiencia__botao--repo:hover
{
    background-color: var(--cor-de-transicion-repo);
    color: var(--cor-de-botones);
    border-color: var(--cor-de-transicion-repo);
}

.experience__botao--demo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    width: 105px;
    height: 51px;

    background-color: var(--cor-de-botones);
    color: var(--cor-blanco);
    border-color: var(--cor-de-botones);

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    transition: 0.5s;
}

.experience__botao--demo:hover
{
    background-color: var(--cor-de-transicion-demo);
    color: var(--cor-blanco);
    border: 1px solid var(--cor-de-transicion-demo);
}
/********** Contacto **********/

.formcontato
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    margin-top: 32px;
    background-color: var(--cor-de-secciones);
}

.formcontato__contacto
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 64px 0px 0px;    
    width: 1136px;
    height: 660px;
}

.formcontato__img
{
    width: 464px;
    height: 593px;
}

.formcontato__text
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 656px;
    height: 596px;
    margin-left: 16px;
}

.formcontato__title
{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}

.formcontato__subtext
{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.formcontato__form
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 32px;

   
}

.formcontato__input
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.313rem;
    gap: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--cor-de-texto);

    width: 656px;
    height: 56px;
}

.formcontato__textarea
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0 0 12px;
    gap: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--cor-de-texto);

    width: 656px;
    height: 56px;
}

.formcontato__botao
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    background-color: var(--cor-de-botones);
    color: var(--cor-blanco);

    width: 144px;
    height: 51px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: 0.5s;
}

.formcontato__botao:hover
{
    background-color: var(--cor-de-transicion-demo);
    color: var(--cor-blanco);
    border: 1px solid var(--cor-de-transicion-demo);
}

/********** footeer **********/

.footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 10px;
    background-color: var(--cor-blanco);
}

.footer__rodape p
{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--cor-de-texto);
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/********** Tablet **********/
@media (min-width: 768px) 
{

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/********** Mobile **********/
@media (min-width: 425px) 
{

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}