/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root
{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-texto: #464646;
   --cor-de-secciones:#EAF2FD;
}

body 
{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul,li 
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: var(--cor-de-texto);
}

/*********** Sección Menu **********/

.menu /*Parte de la cabezera*/
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 9.5rem;
    width: 71rem;
    height: 5.5rem;
}

.menu__header /*Parte de la imagen y el texto*/
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
}

.menu__title /*Titulo que aparece al lado del logo*/
{
    font-size: 1rem;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 15px;
    color: var(--cor-de-texto);
}

/*Parte que contiene todo el menu*/
.menu__list
{
    display: flex;
    margin-right: 1.25rem;
    justify-content: center;
    align-items: center;
    padding-top: 2.156rem;
}

.menu__list__item
{
    width: 67px;
    height: 19px;
    padding-right: 1.25rem;
    color: var(--cor-de-texto);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.menu__list__item:hover
{
    text-decoration: underline;
}

.menu__list__item__contato
{
    font-weight: 700;
}

/********** Sección Title **********/

.title__div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7.5rem 9.5rem;
    
    width: 71rem;
    height: 23rem;
}

.title__container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 46.938rem;
    height: 15.375rem;
}

.title__bio
{
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: var(--cor-de-texto);
    width: 751px;
    height: 122px;
}

.title__subsection
{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 1.25rem 0 0;
    padding-top: 1.5rem;
    color: var(--cor-de-texto);
    width: 751px;
    height: 52px;
}

.title__network
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 4rem;
    padding-left: 0;
    margin: 0;
    width: 467px;
    height: 24px;
}

.title__network__item
{
    align-items: center;
    margin-right: 1.25rem;
}

.title__profile
{
    width: 23rem;
    height: 23rem;
    order: 1;
}

/********** Sección About **********/

.about
{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    width: 90rem;
    height: 23.938rem;
    background-color: var(--cor-de-secciones);
}

.about__title
{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--cor-de-texto);
}

.about__paragraph
{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}


/********** Sección Hobbies **********/

section.hobbies{
    
}

/********** Experiencia Académica **********/

section.academic{

}

/********** experiencia **********/

section.experience{

}

/********** Contacto **********/

section.formcontato{

}

/********** footeer **********/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/********** Tablet **********/
@media (min-width: 768px) 
{

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/********** Mobile **********/
@media (min-width: 425px) 
{

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}